SEARXNG_URL=http://localhost:8080

ALCHEMY_RPC_URL=https://base-sepolia.g.alchemy.com/v2/YOUR_KEY_HERE

WALLET_ADDRESS=0xYOUR_WALLET_ADDRESS
WALLET_PRIVATE_KEY=0xYOUR_PRIVATE_KEY


CONTRACT_ADDRESS=0x_CONTRACT_ADDRESS
